
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>About Us</h2>
<img src="~/Images/nj 12.jpg"  width="200" height="200f"/>

<p>
    NJ TRANSIT also administers several publicly funded transit programs for people with disabilities, senior citizens and people living in the state's rural areas who have no other means of transportation. In addition, the agency provides support and equipment to privately-owned contract bus carriers.

    As the vehicle that connects New Jerseyans with employment, education, health care and recreational opportunities in and around the Garden State, NJ TRANSIT is vital to the state's economic and social well-being, as well as its quality of life.
</p>



