
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Contact</h2>

<img src="~/Images/nj 12.jpg" />
<p>
    Directions to:
    NJ TRANSIT Headquarters
    1 Penn Plaza East
    Newark NJ 07105
    (973) 491-7000
</p>