
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Welcome to NJ Transit website </h2>
<p>Where you can get updates and information on current train arrivals and departures.</p>

<img src="~/Images/NJ 1.jpg" width="600" height="600" />
<h6>Our Mission!</h6>
<p>NJ TRANSIT operates New Jersey's public transportation system. Its mission is to provide safe, reliable, convenient and cost-effective mass transit service.</p>
<img src="~/Images/nj 12.jpg"  height="500" width="500"/>
<p>NJ TRANSIT is New Jersey's public transportation corporation. Its mission is to move</p>
<p>
    Covering a service area of 5,325 square miles, NJ TRANSIT is the nation's third largest provider of bus, rail and light rail transit, linking major points in New Jersey, New York and Philadelphia. The agency operates an active fleet of 2,221 buses, 1,231 trains and 93 light rail vehicles. On 253 bus routes and 12 rail lines statewide, NJ TRANSIT provides nearly 270 million passenger trips each year.

    NJ TRANSIT also administers several publicly funded transit programs for people with disabilities, senior citizens and people living in the state's rural areas who have no other means of transportation. In addition, the agency provides support and equipment to privately-owned contract bus carriers.

    As the vehicle that connects New Jerseyans with employment, education, health care and recreational opportunities in and around the Garden State, NJ TRANSIT is vital to the state's economic and social well-being, as well as its quality of life.
</p>